binds {
    Alt+Print hotkey-overlay-title="Screenshot: Window" { spawn "dms" "ipc" "call" "niri" "screenshotWindow"; }
    Ctrl+Alt+Delete hotkey-overlay-title="Task Manager" { spawn "dms" "ipc" "call" "processlist" "focusOrToggle"; }
    Ctrl+Print hotkey-overlay-title="Screenshot: Full Screen" { spawn "dms" "ipc" "call" "niri" "screenshotScreen"; }
    Ctrl+XF86AudioLowerVolume allow-when-locked=true { spawn "dms" "ipc" "call" "mpris" "decrement" "3"; }
    Ctrl+XF86AudioRaiseVolume allow-when-locked=true { spawn "dms" "ipc" "call" "mpris" "increment" "3"; }
    Mod+Alt+L hotkey-overlay-title="Lock Screen" { spawn "dms" "ipc" "call" "lock" "lock"; }
    Mod+Comma hotkey-overlay-title="Settings" { spawn "dms" "ipc" "call" "settings" "focusOrToggle"; }
    Mod+M hotkey-overlay-title="Task Manager" { spawn "dms" "ipc" "call" "processlist" "focusOrToggle"; }
    Mod+N hotkey-overlay-title="Notification Center" { spawn "dms" "ipc" "call" "notifications" "toggle"; }
    Mod+Shift+N hotkey-overlay-title="Notepad" { spawn "dms" "ipc" "call" "notepad" "toggle"; }
    Mod+Shift+W hotkey-overlay-title="Create window rule" { spawn "dms" "ipc" "call" "window-rules" "toggle"; }
    Mod+Space hotkey-overlay-title="Application Launcher" { spawn "dms" "ipc" "call" "spotlight" "toggle"; }
    Mod+V hotkey-overlay-title="Clipboard Manager" { spawn "dms" "ipc" "call" "clipboard" "toggle"; }
    Print hotkey-overlay-title="Screenshot: Interactive" { spawn "dms" "ipc" "call" "niri" "screenshot"; }
    Super+Ctrl+Shift+Slash hotkey-overlay-title="Keybinds Cheatsheet: Toggle" { spawn "dms" "ipc" "call" "keybinds" "toggle" "niri"; }
    Super+X hotkey-overlay-title="Power Menu: Toggle" { spawn "dms" "ipc" "call" "powermenu" "toggle"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "dms" "ipc" "call" "audio" "decrement" "3"; }
    XF86AudioMicMute allow-when-locked=true { spawn "dms" "ipc" "call" "audio" "micmute"; }
    XF86AudioMute allow-when-locked=true { spawn "dms" "ipc" "call" "audio" "mute"; }
    XF86AudioNext allow-when-locked=true { spawn "dms" "ipc" "call" "mpris" "next"; }
    XF86AudioPause allow-when-locked=true { spawn "dms" "ipc" "call" "mpris" "playPause"; }
    XF86AudioPlay allow-when-locked=true { spawn "dms" "ipc" "call" "mpris" "playPause"; }
    XF86AudioPrev allow-when-locked=true { spawn "dms" "ipc" "call" "mpris" "previous"; }
    XF86AudioRaiseVolume allow-when-locked=true { spawn "dms" "ipc" "call" "audio" "increment" "3"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "dms" "ipc" "call" "brightness" "decrement" "5" ""; }
    XF86MonBrightnessUp allow-when-locked=true { spawn "dms" "ipc" "call" "brightness" "increment" "5" ""; }
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+Down { focus-workspace-down; }
    Mod+Ctrl+J { focus-workspace-down; }
    Mod+Ctrl+K { focus-workspace-up; }
    Mod+Ctrl+Shift+1 { move-window-to-workspace 1; }
    Mod+Ctrl+Shift+2 { move-window-to-workspace 2; }
    Mod+Ctrl+Shift+3 { move-window-to-workspace 3; }
    Mod+Ctrl+Shift+4 { move-window-to-workspace 4; }
    Mod+Ctrl+Shift+5 { move-window-to-workspace 5; }
    Mod+Ctrl+Shift+6 { move-window-to-workspace 6; }
    Mod+Ctrl+Shift+7 { move-window-to-workspace 7; }
    Mod+Ctrl+Shift+8 { move-window-to-workspace 8; }
    Mod+Ctrl+Shift+9 { move-window-to-workspace 9; }
    Mod+Ctrl+Shift+Page_Down { move-workspace-down; }
    Mod+Ctrl+Shift+Page_Up { move-workspace-up; }
    Mod+Ctrl+Up { focus-workspace-up; }
    Mod+Down { focus-window-or-workspace-down; }
    Mod+J { focus-window-or-workspace-down; }
    Mod+K { focus-window-or-workspace-up; }
    Mod+Shift+Down { move-window-down-or-to-workspace-down; }
    Mod+Shift+J { move-window-down-or-to-workspace-down; }
    Mod+Shift+K { move-window-up-or-to-workspace-up; }
    Mod+Shift+Page_Down { move-workspace-to-monitor-left; }
    Mod+Shift+Page_Up { move-workspace-to-monitor-right; }
    Mod+Shift+Up { move-window-up-or-to-workspace-up; }
    Mod+Shift+WheelScrollDown cooldown-ms=150 { move-window-down-or-to-workspace-down; }
    Mod+Shift+WheelScrollUp cooldown-ms=150 { move-window-up-or-to-workspace-up; }
    Mod+Up { focus-window-or-workspace-up; }
    Mod+WheelScrollDown cooldown-ms=150 { focus-window-or-workspace-down; }
    Mod+WheelScrollUp cooldown-ms=150 { focus-window-or-workspace-up; }
    Alt+XF86Launch1 { screenshot-window; }
    Mod+BracketLeft { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }
    Mod+C { center-column; }
    Mod+Ctrl+C { center-visible-columns; }
    Mod+Ctrl+F { expand-column-to-available-width; }
    Mod+Ctrl+H { focus-monitor-left; }
    Mod+Ctrl+L { focus-monitor-right; }
    Mod+Ctrl+Left { focus-monitor-left; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+Ctrl+Right { focus-monitor-right; }
    Mod+End { focus-column-last; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+F { maximize-column; }
    Mod+H { focus-column-or-monitor-left; }
    Mod+Home { focus-column-first; }
    Mod+L { focus-column-or-monitor-right; }
    Mod+Left { focus-column-or-monitor-left; }
    Mod+Minus { set-column-width "-10%"; }
    Mod+Period { expel-window-from-column; }
    Mod+Q repeat=false { close-window; }
    Mod+R { switch-preset-column-width; }
    Mod+Right { focus-column-or-monitor-right; }
    Mod+Shift+1 { move-column-to-monitor "Dell Inc. DELL U2421E 9G64CP3"; }
    Mod+Shift+2 { move-column-to-monitor "Dell Inc. DELL U2722DE GPZM6P3"; }
    Mod+Shift+3 { move-column-to-monitor "Dell Inc. DELL U2421E 3H64CP3"; }
    Mod+Shift+End { move-column-to-last; }
    Mod+Shift+Equal { set-window-height "+10%"; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Shift+H { move-column-left-or-to-monitor-left; }
    Mod+Shift+Home { move-column-to-first; }
    Mod+Shift+L { move-column-right-or-to-monitor-right; }
    Mod+Shift+Left { move-column-left-or-to-monitor-left; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Shift+Right { move-column-right-or-to-monitor-right; }
    Mod+Shift+T { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }
    Mod+Shift+WheelScrollLeft cooldown-ms=150 { move-column-left-or-to-monitor-left; }
    Mod+Shift+WheelScrollRight cooldown-ms=150 { move-column-right-or-to-monitor-right; }
    Mod+W { toggle-column-tabbed-display; }
    Mod+WheelScrollLeft cooldown-ms=150 { focus-column-or-monitor-left; }
    Mod+WheelScrollRight cooldown-ms=150 { focus-column-or-monitor-right; }
    Mod+Shift+P { power-off-monitors; }
    Ctrl+XF86Launch1 { screenshot-screen; }
    XF86Launch1 { screenshot; }
    Mod+Shift+E { quit; }
    Mod+T hotkey-overlay-title="Open Terminal" { spawn "ghostty"; }
    Super+B hotkey-overlay-title="Open Brave" { spawn "flatpak" "run" "com.brave.Browser"; }
    Super+Z hotkey-overlay-title="Open Zed" { spawn "flatpak" "run" "dev.zed.Zed"; }
    Mod+D repeat=false { toggle-overview; }
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
    Mod+Shift+Slash { show-hotkey-overlay; }
    Mod+Tab repeat=false { toggle-overview; }
}
